body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.nav-link.active {
  background-color: #000;
  color: #fff !important;
  border-radius: 5px;
}

.nav-link i {
  font-size: 1.2rem;
}
